FIREBASE_PROJECT_ID=nodejs-backend-826
FIREBASE_PRIVATE_KEY_ID=your-private-key-id
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nyour-private-key\n-----END PRIVATE KEY-----
FIREBASE_CLIENT_EMAIL=your-client-email@your-project-id.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your-client-id
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://accounts.google.com/o/oauth2/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/your-client-email@your-project-id.iam.gserviceaccount.com

PORT=8088

corsOrigin='*'
NODE_ENV=production

POSTGRES_SQL_HOST=localhost
POSTGRES_SQL_DIALECT=postgres
POSTGRES_SQL_POOL_MAX=5
POSTGRES_SQL_POOL_MIN=0
POSTGRES_SQL_POOL_ACQUIRE=30000
POSTGRES_SQL_POOL_IDLE=10000
POSTGRES_SQL_USER= postgres
POSTGRES_SQL_PASSWORD= Test@1234
POSTGRES_SQL_DB= nodeJS-backend-DPP
POSTGRES_SQL_PORT=5432